<a href="https://colab.research.google.com/github/krishnan5307/-5307-krishnan/blob/main/Flight_Delay_Recommendation_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

In [ ]:
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Flight Delay Recommendation/T_ONTIME_REPORTING.csv")#, names=column_names)

In [ ]:
df.head(5)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,OP_CARRIER_FL_NUM,...,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,CARRIER_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2023,1,1,1,7,1/1/2023 12:00:00 AM,9E,20363,9E,4647,...,NaN,0.0,122.0,97.0,72.0,1.0,NaN,NaN,NaN,NaN
1,2023,1,1,1,7,1/1/2023 12:00:00 AM,9E,20363,9E,4650,...,NaN,0.0,117.0,107.0,82.0,1.0,NaN,NaN,NaN,NaN
2,2023,1,1,1,7,1/1/2023 12:00:00 AM,9E,20363,9E,4650,...,NaN,0.0,146.0,119.0,91.0,1.0,NaN,NaN,NaN,NaN
3,2023,1,1,1,7,1/1/2023 12:00:00 AM,9E,20363,9E,4654,...,NaN,0.0,141.0,123.0,89.0,1.0,NaN,NaN,NaN,NaN
4,2023,1,1,1,7,1/1/2023 12:00:00 AM,9E,20363,9E,4663,...,NaN,0.0,208.0,203.0,174.0,1.0,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(59610, 36)

In [ ]:
df.dtypes

YEAR                       int64
QUARTER                    int64
MONTH                      int64
DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
FL_DATE                   object
OP_UNIQUE_CARRIER         object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER                object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN_CITY_NAME          object
ORIGIN_STATE_ABR          object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST_CITY_NAME            object
DEP_TIME                 float64
DEP_DELAY                float64
DEP_DELAY_NEW            float64
ARR_TIME                 float64
ARR_DELAY                float64
ARR_DELAY_NEW            float64
CANCELLED                float64
CANCELLATION_CODE         object
DIVERTED                 float64
CRS_ELAPSED_TIME         float64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                  float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
dtype: object

In [ ]:
column_dtypes = df.dtypes.value_counts()

print(column_dtypes)

float64    16
int64      13
object      7
dtype: int64

In [ ]:
df.isnull().sum()

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
FL_DATE                      0
OP_UNIQUE_CARRIER            0
OP_CARRIER_AIRLINE_ID        0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN_AIRPORT_ID            0
ORIGIN_AIRPORT_SEQ_ID        0
ORIGIN_CITY_MARKET_ID        0
ORIGIN_CITY_NAME             0
ORIGIN_STATE_ABR             0
DEST_AIRPORT_ID              0
DEST_AIRPORT_SEQ_ID          0
DEST_CITY_MARKET_ID          0
DEST_CITY_NAME               0
DEP_TIME                   823
DEP_DELAY                  824
DEP_DELAY_NEW              824
ARR_TIME                   880
ARR_DELAY                 1004
ARR_DELAY_NEW             1004
CANCELLED                    0
CANCELLATION_CODE        58738
DIVERTED                     0
CRS_ELAPSED_TIME             0
ACTUAL_ELAPSED_TIME       1004
AIR_TIME                  1004
FLIGHTS                      0
CARRIER_DELAY            45995
WEATHER_DELAY            45995
SECURITY_DELAY           45995
LATE_AIRCRAFT_DELAY      45995
dtype: int64

In [ ]:
# Assuming you have a DataFrame called 'df' and a categorical column called 'Category'
value_counts = df['CANCELLED'].value_counts()

print(value_counts)

0.0    58738
1.0      872
Name: CANCELLED, dtype: int64

In [ ]:
df["QUARTER"].unique()

array([1])

In [ ]:
data =df.copy()

In [ ]:
data.drop(["YEAR","QUARTER","MONTH", "FL_DATE","OP_CARRIER_AIRLINE_ID", "ORIGIN_AIRPORT_SEQ_ID","DEST_AIRPORT_SEQ_ID","CANCELLATION_CODE"], axis=1,inplace= True)

In [ ]:
data.drop(["ARR_DELAY_NEW","DEP_DELAY_NEW",], axis=1,inplace= True)

In [ ]:
data.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,...,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,CARRIER_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,7,9E,9E,4647,12953,31703,"New York, NY",NY,14492,...,0.0,0.0,122.0,97.0,72.0,1.0,NaN,NaN,NaN,NaN
1,1,7,9E,9E,4650,11996,31871,"Greer, SC",SC,12953,...,0.0,0.0,117.0,107.0,82.0,1.0,NaN,NaN,NaN,NaN
2,1,7,9E,9E,4650,12953,31703,"New York, NY",NY,11996,...,0.0,0.0,146.0,119.0,91.0,1.0,NaN,NaN,NaN,NaN
3,1,7,9E,9E,4654,12478,31703,"New York, NY",NY,11433,...,0.0,0.0,141.0,123.0,89.0,1.0,NaN,NaN,NaN,NaN
4,1,7,9E,9E,4663,12478,31703,"New York, NY",NY,13487,...,0.0,0.0,208.0,203.0,174.0,1.0,NaN,NaN,NaN,NaN

In [ ]:
data.dtypes

DAY_OF_MONTH               int64
DAY_OF_WEEK                int64
OP_UNIQUE_CARRIER         object
OP_CARRIER                object
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN_CITY_NAME          object
ORIGIN_STATE_ABR          object
DEST_AIRPORT_ID            int64
DEST_CITY_MARKET_ID        int64
DEST_CITY_NAME            object
DEP_TIME                 float64
DEP_DELAY                float64
ARR_TIME                 float64
ARR_DELAY                float64
CANCELLED                float64
DIVERTED                 float64
CRS_ELAPSED_TIME         float64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                  float64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
dtype: object

In [ ]:
column_dtypes = data.dtypes.value_counts()

print(column_dtypes)

float64    14
int64       7
object      5
dtype: int64

In [ ]:
for u, x, y in zip(data.columns,data.dtypes,data.isnull().sum()):
  print(y,x,u)

0 int64 DAY_OF_MONTH
0 int64 DAY_OF_WEEK
0 object OP_UNIQUE_CARRIER
0 object OP_CARRIER
0 int64 OP_CARRIER_FL_NUM
0 int64 ORIGIN_AIRPORT_ID
0 int64 ORIGIN_CITY_MARKET_ID
0 object ORIGIN_CITY_NAME
0 object ORIGIN_STATE_ABR
0 int64 DEST_AIRPORT_ID
0 int64 DEST_CITY_MARKET_ID
0 object DEST_CITY_NAME
823 float64 DEP_TIME
824 float64 DEP_DELAY
880 float64 ARR_TIME
1004 float64 ARR_DELAY
0 float64 CANCELLED
0 float64 DIVERTED
0 float64 CRS_ELAPSED_TIME
1004 float64 ACTUAL_ELAPSED_TIME
1004 float64 AIR_TIME
0 float64 FLIGHTS
45995 float64 CARRIER_DELAY
45995 float64 WEATHER_DELAY
45995 float64 SECURITY_DELAY
45995 float64 LATE_AIRCRAFT_DELAY

In [ ]:
data.head(5)

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,...,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,CARRIER_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,7,9E,9E,4647,12953,31703,"New York, NY",NY,14492,...,0.0,0.0,122.0,97.0,72.0,1.0,NaN,NaN,NaN,NaN
1,1,7,9E,9E,4650,11996,31871,"Greer, SC",SC,12953,...,0.0,0.0,117.0,107.0,82.0,1.0,NaN,NaN,NaN,NaN
2,1,7,9E,9E,4650,12953,31703,"New York, NY",NY,11996,...,0.0,0.0,146.0,119.0,91.0,1.0,NaN,NaN,NaN,NaN
3,1,7,9E,9E,4654,12478,31703,"New York, NY",NY,11433,...,0.0,0.0,141.0,123.0,89.0,1.0,NaN,NaN,NaN,NaN
4,1,7,9E,9E,4663,12478,31703,"New York, NY",NY,13487,...,0.0,0.0,208.0,203.0,174.0,1.0,NaN,NaN,NaN,NaN

In [ ]:
data["CARRIER_DELAY"]  ## delay in minutes

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
59605    0.0
59606    NaN
59607    NaN
59608    NaN
59609    0.0
Name: CARRIER_DELAY, Length: 59610, dtype: float64

In [ ]:
# Assuming you have a DataFrame called 'data' and want to replace null values with 0 in specific columns
for feature in ["CARRIER_DELAY", "WEATHER_DELAY", "SECURITY_DELAY", "LATE_AIRCRAFT_DELAY"]:
    data[feature] = data[feature].fillna(0)

In [ ]:

# Assuming you have a DataFrame called 'data' and want to fill null values with the mean in specific columns
columns_to_fill = ["ACTUAL_ELAPSED_TIME", "AIR_TIME","DEP_TIME", "DEP_DELAY", "ARR_TIME","ARR_DELAY"]

for column in columns_to_fill:
    data[column].fillna(data[column].mean(), inplace=True)

In [ ]:
for u, x, y in zip(data.columns,data.dtypes,data.isnull().sum()):
  print(y,x,u)

0 int64 DAY_OF_MONTH
0 int64 DAY_OF_WEEK
0 object OP_UNIQUE_CARRIER
0 object OP_CARRIER
0 int64 OP_CARRIER_FL_NUM
0 int64 ORIGIN_AIRPORT_ID
0 int64 ORIGIN_CITY_MARKET_ID
0 object ORIGIN_CITY_NAME
0 object ORIGIN_STATE_ABR
0 int64 DEST_AIRPORT_ID
0 int64 DEST_CITY_MARKET_ID
0 object DEST_CITY_NAME
0 float64 DEP_TIME
0 float64 DEP_DELAY
0 float64 ARR_TIME
0 float64 ARR_DELAY
0 float64 CANCELLED
0 float64 DIVERTED
0 float64 CRS_ELAPSED_TIME
0 float64 ACTUAL_ELAPSED_TIME
0 float64 AIR_TIME
0 float64 FLIGHTS
0 float64 CARRIER_DELAY
0 float64 WEATHER_DELAY
0 float64 SECURITY_DELAY
0 float64 LATE_AIRCRAFT_DELAY

In [ ]:
for feature in data.columns:
    if data[feature].dtype == "object":
        unique_values = data[feature].unique()
        print(feature, unique_values, len(unique_values))

OP_UNIQUE_CARRIER ['9E' 'AA' 'AS' 'B6' 'DL' 'F9' 'G4' 'HA' 'MQ' 'NK' 'OH' 'OO' 'UA' 'WN'
 'YX'] 15
OP_CARRIER ['9E' 'AA' 'AS' 'B6' 'DL' 'F9' 'G4' 'HA' 'MQ' 'NK' 'OH' 'OO' 'UA' 'WN'
 'YX'] 15
ORIGIN_CITY_NAME ['New York, NY' 'Greer, SC' 'Asheville, NC' 'Albany, NY' 'Detroit, MI'
 'Raleigh/Durham, NC' 'Nashville, TN' 'Rochester, NY' 'Cincinnati, OH'
 'Memphis, TN' 'Norfolk, VA' 'Atlanta, GA' 'White Plains, NY'
 'Buffalo, NY' 'Providence, RI' 'Ithaca/Cortland, NY' 'Minneapolis, MN'
 'Cleveland, OH' 'Syracuse, NY' 'Indianapolis, IN' 'Wilmington, NC'
 'Portland, ME' 'Charleston, SC' 'Milwaukee, WI' 'Omaha, NE'
 'Savannah, GA' 'Burlington, VT' 'Chicago, IL' 'Charlotte, NC'
 'Baltimore, MD' 'St. Louis, MO' 'Bangor, ME' 'Los Angeles, CA'
 'Dallas/Fort Worth, TX' 'Austin, TX' 'Miami, FL' 'Washington, DC'
 'Phoenix, AZ' 'San Francisco, CA' 'Eagle, CO' 'Santa Ana, CA'
 'Charlotte Amalie, VI' 'Seattle, WA' 'San Diego, CA' 'Portland, OR'
 'Fort Lauderdale, FL' 'Boston, MA' 'San Juan, PR'
 'West Palm Beach/Palm Beach, FL' 'Orlando, FL' 'Worcester, MA'
 'Fort Myers, FL' 'Sacramento, CA' 'Sarasota/Bradenton, FL'
 'Jacksonville, FL' 'San Antonio, TX' 'Houston, TX' 'New Orleans, LA'
 'Palm Springs, CA' 'Denver, CO' 'Kansas City, MO' 'Tampa, FL'
 'Las Vegas, NV' 'Ontario, CA' 'Burbank, CA' 'Aguadilla, PR'
 'Salt Lake City, UT' 'Ponce, PR' 'Reno, NV' 'Bozeman, MT' 'Honolulu, HI'
 'Islip, NY' 'Newburgh/Poughkeepsie, NY' 'Sanford, FL' 'Plattsburgh, NY'
 'St. Petersburg, FL' 'Punta Gorda, FL' 'Myrtle Beach, SC'
 'Philadelphia, PA' 'Elmira/Corning, NY' 'Newark, NJ' 'Dallas, TX'
 'Tulsa, OK' 'Pittsburgh, PA' 'Greensboro/High Point, NC' 'Columbus, OH'
 'Louisville, KY' 'Little Rock, AR' 'Oklahoma City, OK' 'Key West, FL'
 'Charlottesville, VA' 'Fayetteville, AR' 'Richmond, VA' 'Madison, WI'
 'Hartford, CT' 'Binghamton, NY' 'Niagara Falls, NY' 'Dayton, OH'
 'Roanoke, VA' 'Montrose/Delta, CO' 'Jackson, WY' 'Knoxville, TN'
 'Grand Rapids, MI' 'Birmingham, AL' 'Columbia, SC' 'Des Moines, IA'
 'State College, PA' 'Lexington, KY'] 108
ORIGIN_STATE_ABR ['NY' 'SC' 'NC' 'MI' 'TN' 'KY' 'VA' 'GA' 'RI' 'MN' 'OH' 'IN' 'ME' 'WI'
 'NE' 'VT' 'IL' 'MD' 'MO' 'CA' 'TX' 'FL' 'AZ' 'CO' 'VI' 'WA' 'OR' 'MA'
 'PR' 'LA' 'NV' 'UT' 'MT' 'HI' 'PA' 'NJ' 'OK' 'AR' 'CT' 'WY' 'AL' 'IA'] 42
DEST_CITY_NAME ['Raleigh/Durham, NC' 'New York, NY' 'Greer, SC' 'Detroit, MI'
 'Minneapolis, MN' 'Asheville, NC' 'Albany, NY' 'Buffalo, NY'
 'Nashville, TN' 'Milwaukee, WI' 'Charlotte, NC' 'Rochester, NY'
 'Memphis, TN' 'Portland, ME' 'Norfolk, VA' 'White Plains, NY'
 'Atlanta, GA' 'Ithaca/Cortland, NY' 'Charleston, SC' 'Savannah, GA'
 'Cleveland, OH' 'Syracuse, NY' 'Wilmington, NC' 'Indianapolis, IN'
 'Cincinnati, OH' 'Burlington, VT' 'Kansas City, MO' 'Chicago, IL'
 'Bangor, ME' 'Providence, RI' 'St. Louis, MO' 'Baltimore, MD' 'Omaha, NE'
 'Los Angeles, CA' 'Dallas/Fort Worth, TX' 'Miami, FL' 'Washington, DC'
 'Phoenix, AZ' 'Eagle, CO' 'San Francisco, CA' 'Austin, TX'
 'Charlotte Amalie, VI' 'Santa Ana, CA' 'Seattle, WA' 'San Diego, CA'
 'Portland, OR' 'West Palm Beach/Palm Beach, FL' 'Orlando, FL'
 'Boston, MA' 'Las Vegas, NV' 'Tampa, FL' 'Jacksonville, FL'
 'Fort Myers, FL' 'Fort Lauderdale, FL' 'San Juan, PR' 'Sacramento, CA'
 'Sarasota/Bradenton, FL' 'New Orleans, LA' 'Palm Springs, CA'
 'Houston, TX' 'Denver, CO' 'Aguadilla, PR' 'Ontario, CA' 'Burbank, CA'
 'Salt Lake City, UT' 'San Antonio, TX' 'Ponce, PR' 'Worcester, MA'
 'Reno, NV' 'Bozeman, MT' 'Honolulu, HI' 'Islip, NY'
 'Newburgh/Poughkeepsie, NY' 'Plattsburgh, NY' 'Sanford, FL'
 'St. Petersburg, FL' 'Punta Gorda, FL' 'Myrtle Beach, SC'
 'Philadelphia, PA' 'Elmira/Corning, NY' 'Newark, NJ' 'Dallas, TX'
 'Columbus, OH' 'Richmond, VA' 'Tulsa, OK' 'Little Rock, AR'
 'Louisville, KY' 'Oklahoma City, OK' 'Fayetteville, AR' 'Key West, FL'
 'Charlottesville, VA' 'Pittsburgh, PA' 'Greensboro/High Point, NC'
 'Madison, WI' 'Hartford, CT' 'Binghamton, NY' 'Niagara Falls, NY'
 'Dayton, OH' 'Roanoke, VA' 'Jackson, WY' 'Montrose/Delta, CO'
 'State College, PA' 'Knoxville, TN' 'Des Moines, IA' 'Birmingham, AL'
 'Grand Rapids, MI' 'Columbia, SC' 'Lexington, KY'] 108

In [ ]:
from sklearn.preprocessing import LabelEncoder
# Assuming you have a DataFrame called 'data' with categorical columns
categorical_columns = ["OP_UNIQUE_CARRIER","OP_CARRIER","ORIGIN_CITY_NAME", "ORIGIN_STATE_ABR", "DEST_CITY_NAME"]

label_encoder = LabelEncoder()

for column in categorical_columns:
    data[column] = label_encoder.fit_transform(data[column])

In [ ]:
data.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,...,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,CARRIER_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,7,0,0,4647,12953,31703,62,25,14492,...,0.0,0.0,122.0,97.0,72.0,1.0,0.0,0.0,0.0,0.0
1,1,7,0,0,4650,11996,31871,36,32,12953,...,0.0,0.0,117.0,107.0,82.0,1.0,0.0,0.0,0.0,0.0
2,1,7,0,0,4650,12953,31703,62,25,11996,...,0.0,0.0,146.0,119.0,91.0,1.0,0.0,0.0,0.0,0.0
3,1,7,0,0,4654,12478,31703,62,25,11433,...,0.0,0.0,141.0,123.0,89.0,1.0,0.0,0.0,0.0,0.0
4,1,7,0,0,4663,12478,31703,62,25,13487,...,0.0,0.0,208.0,203.0,174.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
column_dtypes = data.dtypes.value_counts()

print(column_dtypes)         ## No more label columns

float64    14
int64      12
dtype: int64

In [ ]:
data.shape

(59610, 26)

In [ ]:
for feature in ["OP_UNIQUE_CARRIER","OP_CARRIER","ORIGIN_CITY_NAME", "ORIGIN_STATE_ABR", "DEST_CITY_NAME"]:
  print(feature,data[feature].unique())

OP_UNIQUE_CARRIER [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
OP_CARRIER [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
ORIGIN_CITY_NAME [ 62  36   2   1  28  81  60  85  19  54  66   3 105  11  79  42  57  20
 100  40 106  77  14  56  68  95  13  18  16   5  97   6  51  24   4  55
 103  73  90  29  93  15  96  89  78  32   9  91 104  70 107  33  86  94
  44  88  39  61  71  26  45 101  48  69  12   0  87  76  82  10  38  41
  64  92  75  98  80  59  72  30  63  23 102  74  35  22  52  50  67  46
  17  31  83  53  37   7  65  25  84  58  43  47  34   8  21  27  99  49]
ORIGIN_STATE_ABR [25 32 21 17 33 12 36  7 31 18 26 11 16 40 22 38 10 15 19  3 34  6  2  4
 37 39 28 14 30 13 24 35 20  8 29 23 27  1  5 41  0  9]
DEST_CITY_NAME [ 81  62  36  28  57   2   1  11  60  56  16  85  54  77  66 105   3  42
  14  95  20 100 106  40  19  13  45  18   6  79  97   5  68  51  24  55
 103  73  29  90   4  15  93  96  89  78 104  70   9  48 101  44  33  32
  91  86  94  61  71  39  26   0  69  12  87  88  76 107  82  10  38  41
  64  75  92  98  80  59  72  30  63  23  22  83 102  50  52  67  31  46
  17  74  35  53  37   7  65  25  84  43  58  99  47  27   8  34  21  49]

In [ ]:
data.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,...,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,CARRIER_DELAY,WEATHER_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,7,0,0,4647,12953,31703,62,25,14492,...,0.0,0.0,122.0,97.0,72.0,1.0,0.0,0.0,0.0,0.0
1,1,7,0,0,4650,11996,31871,36,32,12953,...,0.0,0.0,117.0,107.0,82.0,1.0,0.0,0.0,0.0,0.0
2,1,7,0,0,4650,12953,31703,62,25,11996,...,0.0,0.0,146.0,119.0,91.0,1.0,0.0,0.0,0.0,0.0
3,1,7,0,0,4654,12478,31703,62,25,11433,...,0.0,0.0,141.0,123.0,89.0,1.0,0.0,0.0,0.0,0.0
4,1,7,0,0,4663,12478,31703,62,25,13487,...,0.0,0.0,208.0,203.0,174.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
# ## Divide the dataset into independent and dependent features

# X=data.iloc[:,3:13]
# y=data.iloc[:,13]

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Input


# Split the input features (X) and target variables (y)
X = data.drop(['CANCELLED', 'ACTUAL_ELAPSED_TIME','CARRIER_DELAY', 'WEATHER_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'], axis=1)
y_flight_duration = data['ACTUAL_ELAPSED_TIME']
y_cancelled = data['CANCELLED']
y_delay_reasons = data[['CARRIER_DELAY', 'WEATHER_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']]

# Split the data into training and testing sets
X_train, X_test, y_train_flight_duration,y_test_flight_duration, y_train_cancelled, y_test_cancelled, y_train_delay, y_test_delay = train_test_split(
    X,y_flight_duration, y_cancelled, y_delay_reasons, test_size=0.2, random_state=42
)

# Scale numerical features if necessary
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)          ## transfroming the test data with learning parameters of train data itself , so fit is not used inoder to avoid data leankage of test data

In [ ]:
X_train.shape

(47688, 20)

In [ ]:
X_train_scaled

array([[-1.23587182,  0.56937999, -0.59545213, ..., -1.28485413,
        -1.25945973,  0.        ],
       [ 0.37774647,  0.56937999, -0.59545213, ..., -1.00677119,
        -1.06349119,  0.        ],
       [ 0.14722957, -0.39848887, -0.4071615 , ..., -1.01941133,
        -1.08962033,  0.        ],
       ...,
       [-1.81216406,  1.53724886, -0.4071615 , ...,  0.25724214,
         0.24296574,  0.        ],
       [-0.77483802, -0.8824233 , -0.4071615 , ...,  0.30780267,
         0.32135315,  0.        ],
       [ 1.53033096, -1.36635773, -0.4071615 , ..., -0.04612106,
         0.11232004,  0.        ]])

In [ ]:
X_test_scaled

array([[ 0.83878026, -0.8824233 ,  1.09916351, ..., -0.33684413,
        -0.2926816 ,  0.        ],
       [ 1.64558941, -0.8824233 , -0.97203338, ...,  3.1265524 ,
         3.37846237,  0.        ],
       [ 0.14722957, -0.39848887, -0.59545213, ...,  0.73756721,
         0.64796738,  0.        ],
       ...,
       [-0.77483802, -0.8824233 , -0.4071615 , ...,  1.92573974,
         1.92829517,  0.        ],
       [ 0.26248802,  0.08544556, -0.4071615 , ...,  0.56060534,
         0.42586971,  0.        ],
       [ 1.64558941, -0.8824233 , -0.4071615 , ..., -1.14581266,
        -1.08962033,  0.        ]])

In [ ]:
y_delay_reasons

       CARRIER_DELAY  WEATHER_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY
0                0.0            0.0             0.0                  0.0
1                0.0            0.0             0.0                  0.0
2                0.0            0.0             0.0                  0.0
3                0.0            0.0             0.0                  0.0
4                0.0            0.0             0.0                  0.0
...              ...            ...             ...                  ...
59605            0.0            0.0             0.0                 40.0
59606            0.0            0.0             0.0                  0.0
59607            0.0            0.0             0.0                  0.0
59608            0.0            0.0             0.0                  0.0
59609            0.0            0.0             0.0                 59.0

[59610 rows x 4 columns]

In [ ]:

# Define the ANN architecture
input_dim = X_train_scaled.shape[1]  ## gettunf column size
output_dim_flight_duration = 1
output_dim_cancelled = 1
output_dim_delay = y_train_delay.shape[1]

input_layer = Input(shape=(input_dim,))
hidden_layer = Dense(64, activation='relu')(input_layer)
# Add additional hidden layers if needed
output_layer_flight_duration = Dense(output_dim_flight_duration, activation= 'linear',name = 'flight_duration')(hidden_layer)
output_layer_cancelled = Dense(output_dim_cancelled, activation='sigmoid', name='cancelled')(hidden_layer)
output_layer_delay = Dense(output_dim_delay, activation='relu', name='delay_reasons')(hidden_layer)

model = Model(inputs=input_layer, outputs=[output_layer_flight_duration, output_layer_cancelled, output_layer_delay])

# Compile the model
model.compile(loss={'flight_duration':'mean_squared_error', 'cancelled': 'binary_crossentropy', 'delay_reasons': 'mean_squared_error'},
              optimizer='adam',
              metrics={'flight_duration':'mse','cancelled': 'accuracy', 'delay_reasons': 'mse'})

In [ ]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_2 (InputLayer)           [(None, 20)]         0           []

 dense_1 (Dense)                (None, 64)           1344        ['input_2[0][0]']

 flight_duration (Dense)        (None, 1)            65          ['dense_1[0][0]']

 cancelled (Dense)              (None, 1)            65          ['dense_1[0][0]']

 delay_reasons (Dense)          (None, 4)            260         ['dense_1[0][0]']

==================================================================================================
Total params: 1,734
Trainable params: 1,734
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
## Early Stopping
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    patience=5

)

In [ ]:
X_train_scaled.shape

(47688, 20)

In [ ]:
X_test_scaled.shape

(11922, 20)

In [ ]:
y_train_delay

       CARRIER_DELAY  WEATHER_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY
8393             0.0            0.0             0.0                  0.0
36131            0.0            0.0             0.0                  0.0
32116            0.0            0.0             0.0                  0.0
37866           17.0            0.0             0.0                  0.0
10250            0.0            0.0             0.0                  0.0
...              ...            ...             ...                  ...
54343            0.0            0.0             0.0                  0.0
38158            0.0            0.0             0.0                  0.0
860              0.0            0.0             0.0                  0.0
15795            0.0            0.0             0.0                  0.0
56422            0.0            0.0             0.0                  0.0

[47688 rows x 4 columns]

In [ ]:
# Train the model
model.fit(X_train_scaled, {'flight_duration':y_train_flight_duration, 'cancelled': y_train_cancelled, 'delay_reasons': y_train_delay},  ## fitting each output layer with respective target data for training model
          epochs=30,
          batch_size=24,
          validation_data=(X_test_scaled, {'flight_duration':y_test_flight_duration,'cancelled': y_test_cancelled, 'delay_reasons': y_test_delay}))#, callbacks=early_stopping)

Epoch 1/30
1987/1987 [==============================] - 17s 7ms/step - loss: 8539.0283 - flight_duration_loss: 8029.3447 - cancelled_loss: 0.1184 - delay_reasons_loss: 509.5579 - flight_duration_mse: 8029.3447 - cancelled_accuracy: 0.9688 - delay_reasons_mse: 509.5579 - val_loss: 1124.1669 - val_flight_duration_loss: 726.0624 - val_cancelled_loss: 0.0776 - val_delay_reasons_loss: 398.0266 - val_flight_duration_mse: 726.0624 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 398.0266
Epoch 2/30
1987/1987 [==============================] - 14s 7ms/step - loss: 881.7155 - flight_duration_loss: 467.9430 - cancelled_loss: 0.0721 - delay_reasons_loss: 413.7017 - flight_duration_mse: 467.9430 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 413.7017 - val_loss: 591.1443 - val_flight_duration_loss: 240.6853 - val_cancelled_loss: 0.0712 - val_delay_reasons_loss: 350.3878 - val_flight_duration_mse: 240.6853 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 350.3878
Epoch 3/30
1987/1987 [==============================] - 14s 7ms/step - loss: 513.0406 - flight_duration_loss: 147.1584 - cancelled_loss: 0.0689 - delay_reasons_loss: 365.8126 - flight_duration_mse: 147.1584 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 365.8126 - val_loss: 413.8064 - val_flight_duration_loss: 92.8482 - val_cancelled_loss: 0.0695 - val_delay_reasons_loss: 320.8887 - val_flight_duration_mse: 92.8482 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 320.8887
Epoch 4/30
1987/1987 [==============================] - 12s 6ms/step - loss: 411.5099 - flight_duration_loss: 75.5381 - cancelled_loss: 0.0683 - delay_reasons_loss: 335.9036 - flight_duration_mse: 75.5381 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 335.9036 - val_loss: 369.8032 - val_flight_duration_loss: 63.5738 - val_cancelled_loss: 0.0683 - val_delay_reasons_loss: 306.1609 - val_flight_duration_mse: 63.5738 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 306.1609
Epoch 5/30
1987/1987 [==============================] - 13s 6ms/step - loss: 376.7474 - flight_duration_loss: 57.2032 - cancelled_loss: 0.0669 - delay_reasons_loss: 319.4778 - flight_duration_mse: 57.2032 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 319.4778 - val_loss: 355.0677 - val_flight_duration_loss: 55.3933 - val_cancelled_loss: 0.0671 - val_delay_reasons_loss: 299.6073 - val_flight_duration_mse: 55.3933 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 299.6073
Epoch 6/30
1987/1987 [==============================] - 13s 6ms/step - loss: 359.3571 - flight_duration_loss: 50.0345 - cancelled_loss: 0.0656 - delay_reasons_loss: 309.2569 - flight_duration_mse: 50.0345 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 309.2569 - val_loss: 348.4989 - val_flight_duration_loss: 52.4568 - val_cancelled_loss: 0.0660 - val_delay_reasons_loss: 295.9762 - val_flight_duration_mse: 52.4568 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 295.9762
Epoch 7/30
1987/1987 [==============================] - 14s 7ms/step - loss: 348.5070 - flight_duration_loss: 46.4360 - cancelled_loss: 0.0644 - delay_reasons_loss: 302.0062 - flight_duration_mse: 46.4360 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 302.0062 - val_loss: 344.2824 - val_flight_duration_loss: 49.8925 - val_cancelled_loss: 0.0649 - val_delay_reasons_loss: 294.3250 - val_flight_duration_mse: 49.8925 - val_cancelled_accuracy: 0.9847 - val_delay_reasons_mse: 294.3250
Epoch 8/30
1987/1987 [==============================] - 13s 6ms/step - loss: 341.8706 - flight_duration_loss: 44.4391 - cancelled_loss: 0.0636 - delay_reasons_loss: 297.3685 - flight_duration_mse: 44.4391 - cancelled_accuracy: 0.9854 - delay_reasons_mse: 297.3685 - val_loss: 341.2925 - val_flight_duration_loss: 47.9351 - val_cancelled_loss: 0.0635 - val_delay_reasons_loss: 293.2938 - val_flight_duration_mse: 47.9351 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 293.2938
Epoch 9/30
1987/1987 [==============================] - 14s 7ms/step - loss: 337.8295 - flight_duration_loss: 43.0590 - cancelled_loss: 0.0620 - delay_reasons_loss: 294.7086 - flight_duration_mse: 43.0590 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 294.7086 - val_loss: 336.6464 - val_flight_duration_loss: 47.0302 - val_cancelled_loss: 0.0658 - val_delay_reasons_loss: 289.5501 - val_flight_duration_mse: 47.0302 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 289.5501
Epoch 10/30
1987/1987 [==============================] - 13s 6ms/step - loss: 333.2485 - flight_duration_loss: 42.0780 - cancelled_loss: 0.0610 - delay_reasons_loss: 291.1096 - flight_duration_mse: 42.0780 - cancelled_accuracy: 0.9854 - delay_reasons_mse: 291.1096 - val_loss: 338.4077 - val_flight_duration_loss: 46.4622 - val_cancelled_loss: 0.0608 - val_delay_reasons_loss: 291.8847 - val_flight_duration_mse: 46.4622 - val_cancelled_accuracy: 0.9848 - val_delay_reasons_mse: 291.8847
Epoch 11/30
1987/1987 [==============================] - 13s 6ms/step - loss: 330.9099 - flight_duration_loss: 41.4083 - cancelled_loss: 0.0595 - delay_reasons_loss: 289.4427 - flight_duration_mse: 41.4083 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 289.4427 - val_loss: 335.9349 - val_flight_duration_loss: 46.0710 - val_cancelled_loss: 0.0596 - val_delay_reasons_loss: 289.8043 - val_flight_duration_mse: 46.0710 - val_cancelled_accuracy: 0.9848 - val_delay_reasons_mse: 289.8043
Epoch 12/30
1987/1987 [==============================] - 12s 6ms/step - loss: 328.6226 - flight_duration_loss: 40.7513 - cancelled_loss: 0.0582 - delay_reasons_loss: 287.8136 - flight_duration_mse: 40.7513 - cancelled_accuracy: 0.9854 - delay_reasons_mse: 287.8136 - val_loss: 333.4500 - val_flight_duration_loss: 45.4091 - val_cancelled_loss: 0.0597 - val_delay_reasons_loss: 287.9810 - val_flight_duration_mse: 45.4091 - val_cancelled_accuracy: 0.9848 - val_delay_reasons_mse: 287.9810
Epoch 13/30
1987/1987 [==============================] - 12s 6ms/step - loss: 326.7953 - flight_duration_loss: 40.1422 - cancelled_loss: 0.0569 - delay_reasons_loss: 286.5963 - flight_duration_mse: 40.1422 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 286.5963 - val_loss: 333.7520 - val_flight_duration_loss: 45.9629 - val_cancelled_loss: 0.0569 - val_delay_reasons_loss: 287.7322 - val_flight_duration_mse: 45.9629 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 287.7322
Epoch 14/30
1987/1987 [==============================] - 14s 7ms/step - loss: 324.9524 - flight_duration_loss: 39.7715 - cancelled_loss: 0.0558 - delay_reasons_loss: 285.1251 - flight_duration_mse: 39.7715 - cancelled_accuracy: 0.9855 - delay_reasons_mse: 285.1251 - val_loss: 333.3152 - val_flight_duration_loss: 45.4582 - val_cancelled_loss: 0.0572 - val_delay_reasons_loss: 287.7997 - val_flight_duration_mse: 45.4582 - val_cancelled_accuracy: 0.9852 - val_delay_reasons_mse: 287.7997
Epoch 15/30
1987/1987 [==============================] - 14s 7ms/step - loss: 323.5477 - flight_duration_loss: 39.3327 - cancelled_loss: 0.0546 - delay_reasons_loss: 284.1604 - flight_duration_mse: 39.3327 - cancelled_accuracy: 0.9857 - delay_reasons_mse: 284.1604 - val_loss: 331.1805 - val_flight_duration_loss: 44.8165 - val_cancelled_loss: 0.0589 - val_delay_reasons_loss: 286.3051 - val_flight_duration_mse: 44.8165 - val_cancelled_accuracy: 0.9849 - val_delay_reasons_mse: 286.3051
Epoch 16/30
1987/1987 [==============================] - 13s 7ms/step - loss: 322.5363 - flight_duration_loss: 38.9529 - cancelled_loss: 0.0538 - delay_reasons_loss: 283.5296 - flight_duration_mse: 38.9529 - cancelled_accuracy: 0.9860 - delay_reasons_mse: 283.5296 - val_loss: 332.2372 - val_flight_duration_loss: 44.8045 - val_cancelled_loss: 0.0539 - val_delay_reasons_loss: 287.3788 - val_flight_duration_mse: 44.8045 - val_cancelled_accuracy: 0.9859 - val_delay_reasons_mse: 287.3788
Epoch 17/30
1987/1987 [==============================] - 13s 7ms/step - loss: 320.7131 - flight_duration_loss: 38.6594 - cancelled_loss: 0.0531 - delay_reasons_loss: 282.0004 - flight_duration_mse: 38.6594 - cancelled_accuracy: 0.9864 - delay_reasons_mse: 282.0004 - val_loss: 330.2717 - val_flight_duration_loss: 44.3286 - val_cancelled_loss: 0.0537 - val_delay_reasons_loss: 285.8892 - val_flight_duration_mse: 44.3286 - val_cancelled_accuracy: 0.9855 - val_delay_reasons_mse: 285.8892
Epoch 18/30
1987/1987 [==============================] - 13s 7ms/step - loss: 319.4039 - flight_duration_loss: 38.3595 - cancelled_loss: 0.0526 - delay_reasons_loss: 280.9918 - flight_duration_mse: 38.3595 - cancelled_accuracy: 0.9866 - delay_reasons_mse: 280.9918 - val_loss: 328.8006 - val_flight_duration_loss: 43.9333 - val_cancelled_loss: 0.0526 - val_delay_reasons_loss: 284.8149 - val_flight_duration_mse: 43.9333 - val_cancelled_accuracy: 0.9867 - val_delay_reasons_mse: 284.8149
Epoch 19/30
1987/1987 [==============================] - 14s 7ms/step - loss: 318.0617 - flight_duration_loss: 38.1476 - cancelled_loss: 0.0520 - delay_reasons_loss: 279.8622 - flight_duration_mse: 38.1476 - cancelled_accuracy: 0.9867 - delay_reasons_mse: 279.8622 - val_loss: 327.0848 - val_flight_duration_loss: 43.4846 - val_cancelled_loss: 0.0527 - val_delay_reasons_loss: 283.5476 - val_flight_duration_mse: 43.4846 - val_cancelled_accuracy: 0.9863 - val_delay_reasons_mse: 283.5476
Epoch 20/30
1987/1987 [==============================] - 13s 7ms/step - loss: 317.3341 - flight_duration_loss: 37.8407 - cancelled_loss: 0.0514 - delay_reasons_loss: 279.4422 - flight_duration_mse: 37.8407 - cancelled_accuracy: 0.9872 - delay_reasons_mse: 279.4422 - val_loss: 326.4226 - val_flight_duration_loss: 43.5082 - val_cancelled_loss: 0.0518 - val_delay_reasons_loss: 282.8627 - val_flight_duration_mse: 43.5082 - val_cancelled_accuracy: 0.9873 - val_delay_reasons_mse: 282.8627
Epoch 21/30
1987/1987 [==============================] - 13s 7ms/step - loss: 316.4971 - flight_duration_loss: 37.6081 - cancelled_loss: 0.0509 - delay_reasons_loss: 278.8382 - flight_duration_mse: 37.6081 - cancelled_accuracy: 0.9873 - delay_reasons_mse: 278.8382 - val_loss: 326.9598 - val_flight_duration_loss: 43.5569 - val_cancelled_loss: 0.0518 - val_delay_reasons_loss: 283.3512 - val_flight_duration_mse: 43.5569 - val_cancelled_accuracy: 0.9878 - val_delay_reasons_mse: 283.3512
Epoch 22/30
1987/1987 [==============================] - 13s 7ms/step - loss: 315.4085 - flight_duration_loss: 37.3969 - cancelled_loss: 0.0504 - delay_reasons_loss: 277.9611 - flight_duration_mse: 37.3969 - cancelled_accuracy: 0.9876 - delay_reasons_mse: 277.9611 - val_loss: 327.3581 - val_flight_duration_loss: 43.7935 - val_cancelled_loss: 0.0512 - val_delay_reasons_loss: 283.5132 - val_flight_duration_mse: 43.7935 - val_cancelled_accuracy: 0.9874 - val_delay_reasons_mse: 283.5132
Epoch 23/30
1987/1987 [==============================] - 15s 7ms/step - loss: 314.1893 - flight_duration_loss: 37.3116 - cancelled_loss: 0.0502 - delay_reasons_loss: 276.8271 - flight_duration_mse: 37.3116 - cancelled_accuracy: 0.9880 - delay_reasons_mse: 276.8271 - val_loss: 325.4588 - val_flight_duration_loss: 42.7799 - val_cancelled_loss: 0.0516 - val_delay_reasons_loss: 282.6273 - val_flight_duration_mse: 42.7799 - val_cancelled_accuracy: 0.9870 - val_delay_reasons_mse: 282.6273
Epoch 24/30
1987/1987 [==============================] - 14s 7ms/step - loss: 313.6293 - flight_duration_loss: 37.1634 - cancelled_loss: 0.0496 - delay_reasons_loss: 276.4167 - flight_duration_mse: 37.1634 - cancelled_accuracy: 0.9883 - delay_reasons_mse: 276.4167 - val_loss: 324.9962 - val_flight_duration_loss: 43.0318 - val_cancelled_loss: 0.0514 - val_delay_reasons_loss: 281.9129 - val_flight_duration_mse: 43.0318 - val_cancelled_accuracy: 0.9878 - val_delay_reasons_mse: 281.9129
Epoch 25/30
1987/1987 [==============================] - 12s 6ms/step - loss: 311.9610 - flight_duration_loss: 36.8530 - cancelled_loss: 0.0494 - delay_reasons_loss: 275.0585 - flight_duration_mse: 36.8530 - cancelled_accuracy: 0.9886 - delay_reasons_mse: 275.0585 - val_loss: 326.5990 - val_flight_duration_loss: 42.6953 - val_cancelled_loss: 0.0509 - val_delay_reasons_loss: 283.8528 - val_flight_duration_mse: 42.6953 - val_cancelled_accuracy: 0.9878 - val_delay_reasons_mse: 283.8528
Epoch 26/30
1987/1987 [==============================] - 11s 5ms/step - loss: 311.4029 - flight_duration_loss: 36.8160 - cancelled_loss: 0.0491 - delay_reasons_loss: 274.5378 - flight_duration_mse: 36.8160 - cancelled_accuracy: 0.9884 - delay_reasons_mse: 274.5378 - val_loss: 325.1222 - val_flight_duration_loss: 42.7408 - val_cancelled_loss: 0.0509 - val_delay_reasons_loss: 282.3304 - val_flight_duration_mse: 42.7408 - val_cancelled_accuracy: 0.9880 - val_delay_reasons_mse: 282.3304
Epoch 27/30
1987/1987 [==============================] - 11s 5ms/step - loss: 310.6710 - flight_duration_loss: 36.5283 - cancelled_loss: 0.0491 - delay_reasons_loss: 274.0935 - flight_duration_mse: 36.5283 - cancelled_accuracy: 0.9884 - delay_reasons_mse: 274.0935 - val_loss: 323.3310 - val_flight_duration_loss: 42.9722 - val_cancelled_loss: 0.0529 - val_delay_reasons_loss: 280.3058 - val_flight_duration_mse: 42.9722 - val_cancelled_accuracy: 0.9865 - val_delay_reasons_mse: 280.3058
Epoch 28/30
1987/1987 [==============================] - 9s 5ms/step - loss: 310.2695 - flight_duration_loss: 36.4016 - cancelled_loss: 0.0490 - delay_reasons_loss: 273.8186 - flight_duration_mse: 36.4016 - cancelled_accuracy: 0.9886 - delay_reasons_mse: 273.8186 - val_loss: 322.6939 - val_flight_duration_loss: 42.2640 - val_cancelled_loss: 0.0518 - val_delay_reasons_loss: 280.3780 - val_flight_duration_mse: 42.2640 - val_cancelled_accuracy: 0.9875 - val_delay_reasons_mse: 280.3780
Epoch 29/30
1987/1987 [==============================] - 11s 6ms/step - loss: 309.2494 - flight_duration_loss: 36.3037 - cancelled_loss: 0.0487 - delay_reasons_loss: 272.8966 - flight_duration_mse: 36.3037 - cancelled_accuracy: 0.9887 - delay_reasons_mse: 272.8966 - val_loss: 323.4350 - val_flight_duration_loss: 42.4302 - val_cancelled_loss: 0.0507 - val_delay_reasons_loss: 280.9542 - val_flight_duration_mse: 42.4302 - val_cancelled_accuracy: 0.9880 - val_delay_reasons_mse: 280.9542
Epoch 30/30
1987/1987 [==============================] - 11s 6ms/step - loss: 308.4472 - flight_duration_loss: 36.1134 - cancelled_loss: 0.0490 - delay_reasons_loss: 272.2849 - flight_duration_mse: 36.1134 - cancelled_accuracy: 0.9884 - delay_reasons_mse: 272.2849 - val_loss: 323.7984 - val_flight_duration_loss: 42.0380 - val_cancelled_loss: 0.0505 - val_delay_reasons_loss: 281.7101 - val_flight_duration_mse: 42.0380 - val_cancelled_accuracy: 0.9882 - val_delay_reasons_mse: 281.7101

In [ ]:
# Evaluate the model
losses = model.evaluate(X_test_scaled, {'flight_duration': y_test_flight_duration, 'cancelled': y_test_cancelled, 'delay_reasons': y_test_delay})

losses

373/373 [==============================] - 1s 3ms/step - loss: 323.7984 - flight_duration_loss: 42.0380 - cancelled_loss: 0.0505 - delay_reasons_loss: 281.7098 - flight_duration_mse: 42.0380 - cancelled_accuracy: 0.9882 - delay_reasons_mse: 281.7098

[323.7984313964844,
 42.03797149658203,
 0.05052853003144264,
 281.7098388671875,
 42.03797149658203,
 0.9881731271743774,
 281.7098388671875]

In [ ]:
from tensorflow.keras.models import Model, load_model

# Assuming you have trained and evaluated the model as mentioned in the previous code

# Save the model
model.save('flight_delay_model.h5')

# Load the model
loaded_model = load_model('flight_delay_model.h5')

In [ ]:
X_test.shape

(11922, 20)

In [ ]:
user_data = pd.DataFrame(X_test.loc[[44694]])
user_data_test = X_test
user_data_scaled_X_test = X_test_scaled

In [ ]:
type(user_data)

pandas.core.frame.DataFrame

In [ ]:

# Scale the new data using the same scaler used during training
#scaled_new_data = scaler.transform(user_data)
scaled_new_data = scaler.transform(user_data)



# Make predictions using the loaded model
prediction_flight_duration, predictions_cancelled, predictions_delay = loaded_model.predict(user_data_scaled_X_test)

## user single data
prediction_flight_duration_user, predictions_cancelled_user, predictions_delay_user = loaded_model.predict(scaled_new_data)


# Extract the predicted values
predicted_flight_duration = prediction_flight_duration.flatten()
predicted_cancelled = predictions_cancelled.flatten() >= 0.5  # Threshold for binary classification
predicted_delay = predictions_delay

# Extract the predicted values
predicted_flight_duration_user = prediction_flight_duration_user.flatten()
predicted_cancelled_user = predictions_cancelled_user.flatten() >= 0.5  # Threshold for binary classification
predicted_delay_user = predictions_delay_user

373/373 [==============================] - 3s 6ms/step
1/1 [==============================] - 0s 33ms/step

In [ ]:
predicted_flight_duration, predicted_cancelled, predicted_delay

(array([127.080124, 414.2811  , 203.27197 , ..., 294.2253  , 181.60349 ,
         66.44066 ], dtype=float32),
 array([False, False, False, ..., False, False, False]),
 array([[ 0.      ,  0.      ,  0.      ,  0.      ],
        [ 0.      ,  0.      ,  0.      ,  0.      ],
        [ 0.      ,  0.      ,  0.      ,  0.      ],
        ...,
        [ 0.      ,  0.      ,  0.      ,  0.      ],
        [ 0.      ,  0.      ,  0.      ,  0.      ],
        [41.021908,  0.      ,  0.      , 46.699333]], dtype=float32))

In [ ]:
predicted_delay.shape, type(predicted_delay), predicted_delay.ndim

((11922, 4), numpy.ndarray, 2)

In [ ]:
pd.DataFrame(predicted_delay)

               0    1    2          3
0       0.000000  0.0  0.0   0.000000
1       0.000000  0.0  0.0   0.000000
2       0.000000  0.0  0.0   0.000000
3       0.000000  0.0  0.0   0.000000
4       0.000000  0.0  0.0   0.000000
...          ...  ...  ...        ...
11917   0.000000  0.0  0.0   0.000000
11918  13.315191  0.0  0.0   7.143476
11919   0.000000  0.0  0.0   0.000000
11920   0.000000  0.0  0.0   0.000000
11921  41.021908  0.0  0.0  46.699333

[11922 rows x 4 columns]

In [ ]:
prediction_flight_duration_user, predictions_cancelled_user, predictions_delay_user

(array([[127.080124]], dtype=float32),
 array([[0.01938589]], dtype=float32),
 array([[0., 0., 0., 0.]], dtype=float32))

In [ ]:
## checking the count of cancelled flights

count = 0
for x in predicted_cancelled:
  if x == True:
    count+= 1#count +1
print(count)

53

In [ ]:
## checking the count of cancelled flight of user

count = 0
for x in predicted_cancelled_user:
  if x == False:
    count+= 1#count +1
print(count)

1

In [ ]:
len(predicted_cancelled_user)

1

In [ ]:
pd.DataFrame(predictions_delay_user)

     0    1    2    3
0  0.0  0.0  0.0  0.0

In [ ]:
df_duration = pd.DataFrame(predicted_flight_duration)
df_duration.max(), df_duration.min()

(0    721.600159
 dtype: float32,
 0    5.989613
 dtype: float32)

In [ ]:
data["ACTUAL_ELAPSED_TIME"].min()

38.0

In [ ]:
X_test

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,DIVERTED,CRS_ELAPSED_TIME,AIR_TIME,FLIGHTS
44694,24,2,12,12,2271,13930,30977,18,10,12953,31703,62,653.0,-7.0,957.0,-18.0,0.0,135.0,102.0,1.0
57879,31,2,1,1,177,12478,31703,62,25,14771,32457,90,2100.0,-5.0,50.0,-4.0,0.0,409.0,383.0,1.0
31929,18,3,3,3,75,12478,31703,62,25,13495,33495,61,831.0,-9.0,1054.0,-26.0,0.0,220.0,174.0,1.0
40236,22,7,4,4,752,15304,33195,101,6,12953,31703,62,1609.0,-1.0,1827.0,-27.0,0.0,164.0,120.0,1.0
34838,19,4,13,13,712,12953,31703,62,25,10693,30693,60,1320.0,0.0,1459.0,-1.0,0.0,160.0,130.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32291,18,3,4,4,870,12478,31703,62,25,12889,32211,48,803.0,-2.0,1054.0,-21.0,0.0,370.0,310.0,1.0
52912,28,6,12,12,1199,11618,31703,63,23,10792,30792,11,2118.0,27.0,2248.0,34.0,0.0,83.0,54.0,1.0
15910,10,2,4,4,308,12892,32575,51,3,12478,31703,62,758.0,13.0,1549.0,-10.0,0.0,314.0,272.0,1.0
34212,19,4,4,4,1635,12953,31703,62,25,13303,32467,55,1104.0,-1.0,1405.0,-26.0,0.0,206.0,157.0,1.0
58590,31,2,4,4,2211,12953,31703,62,25,15096,35096,100,2335.0,100.0,38.0,92.0,0.0,71.0,41.0,1.0

In [ ]:
y_test_flight_duration

44694    124.0
57879    410.0
31929    203.0
40236    138.0
34838    159.0
         ...
32291    351.0
52912     90.0
15910    291.0
34212    181.0
58590     63.0
Name: ACTUAL_ELAPSED_TIME, Length: 11922, dtype: float64

In [ ]:
data.iloc[44694]

DAY_OF_MONTH                24.0
DAY_OF_WEEK                  2.0
OP_UNIQUE_CARRIER           12.0
OP_CARRIER                  12.0
OP_CARRIER_FL_NUM         2271.0
ORIGIN_AIRPORT_ID        13930.0
ORIGIN_CITY_MARKET_ID    30977.0
ORIGIN_CITY_NAME            18.0
ORIGIN_STATE_ABR            10.0
DEST_AIRPORT_ID          12953.0
DEST_CITY_MARKET_ID      31703.0
DEST_CITY_NAME              62.0
DEP_TIME                   653.0
DEP_DELAY                   -7.0
ARR_TIME                   957.0
ARR_DELAY                  -18.0
CANCELLED                    0.0
DIVERTED                     0.0
CRS_ELAPSED_TIME           135.0
ACTUAL_ELAPSED_TIME        124.0
AIR_TIME                   102.0
FLIGHTS                      1.0
CARRIER_DELAY                0.0
WEATHER_DELAY                0.0
SECURITY_DELAY               0.0
LATE_AIRCRAFT_DELAY          0.0
Name: 44694, dtype: float64

In [ ]:
data['CANCELLED'].unique()

array([0., 1.])